@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Poetsen+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --background: black;
  --text: white;
  --answerBackground: none;
  --hover: purple;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
  border: none;
  font-family: "Ubuntu Sans", sans-serif;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: visible;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h5 {
  color: gray;
  margin-bottom: 1rem;
  text-align: center;
}

textarea,
input {
  padding: 0.5rem;
  border-radius: 0.1rem;
  border: none;
  margin: 0.1rem;
  color: var(--background);
}

textarea {
  width: 50vw;
  height: 25vh;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

form button {
  padding: 0.5rem;
  width: 35%;
  margin: 1rem;
  background-color: var(--text);
  border-radius: 0.25rem;
  color: var(--background);
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

form button:hover {
  background-color: var(--background);
  color: var(--textr);
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.container.answer {
  background-color: var(--answerBackground);
  width: 75vw;
  min-height: 0vh;
  height: fit-content;
  border-radius: 0.25rem;
  align-items: start;
}

.container.answer h2,
.container.answer h3 {
  margin: 1rem 0 1rem 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#imageQuestion {
  color: var(--text);
}
